<div class="users-display">
  <% User.order(name: :asc).each do |user| %>
    <%= link_to user_path(user), class: "user-display-card", data: { turbo: false } do %>
      <div class="users-display-cont">
        <img src="<%= user.photo %>" alt="userPhoto" class="user-display-photo">
        <%= user_details_for(user) %>
      </div>
    <% end %>
  <% end %>
</div>
