<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'users' %>
  </head>
  <body>
    <%= render 'users_display' %>
    <% if User.count < 1 %>
      <h2> no users yet </h2>
    <% end %>
  </body>
</html>
