        <img src="<%= @user.photo %>" alt="userPhoto" class="photo">
        <div class="userInfo">
            <p class="userName"><%= @user.name %></h2>
            <p class="totalPosts">Total Posts: <%= @user.posts_counter %></p>
        </div>