    <img src="<%= @user.photo %>" alt="userPhoto" class="shared-user-photo">
        <div class="shared-user-info">
            <p class="shared-user-name"><%= @user.name %></h2>
            <p class="shared-total-posts">Total Posts: <%= @user.posts_counter %></p>
        </div>