
    <div class="postCont">
      <%= render_text_section(@post) %>
        <div class="text-author">
            <p>Title: <%= @post.title %></p> 
            <p class="by-author"> by: <%= @post.user.name %></p>
        </div>
        <p>Text: <%= @post.text %></p>
    </div>
