*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-family: monospace;
}

ul {
  list-style: none !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.shared-user-photo {
  height: 9rem;
  border: 2px solid rgb(226, 226, 226);
}

.shared-user-info {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: rgb(226, 226, 226);
}

.shared-user-name {
  width: 50%;
  font-weight: bold;
  color: black;
  align-self: center;
  text-align: center;
  text-decoration: none;
}

.shared-total-posts {
  width: 50%;
  text-align: center;
  align-self: flex-end;
  color: black;
}

.shared-posts-card {
  width: 100%;
  max-width: 85rem;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 0.4s forwards;
}

.shared-posts {
  transition: all 150ms ease-in-out;
  background-color: rgb(226, 226, 226);
  padding: 1rem;
}

.shared-posts:hover {
  filter: invert(1);
  background-color: rgb(128, 128, 128);
  transform: scale(0.98) !important;
}
