.posts-show {
  padding: 3rem 4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.posts-card {
  padding: 1rem;
  background-color: rgb(226, 226, 226);
  text-align: left;
  width: 100%;
  max-width: 85rem;
}

.userCard {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8rem;
  transition: all 150ms ease-in-out;
  gap: 2rem;
}

.photo {
  height: 9rem;
  border: 2px solid rgb(226, 226, 226);
}

.userInfo {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: rgb(226, 226, 226);
}

.userName {
  width: 50%;
  font-weight: bold;
  color: black;
  align-self: center;
  text-align: center;
  text-decoration: none;
}

.totalPosts {
  width: 50%;
  text-align: center;
  align-self: flex-end;
  color: black;
}

.userPost {
  background-color: rgb(226, 226, 226);
  padding: 1rem;
  transition: all 150ms ease-in-out;
  min-width: 100%;
  width: 100%;
}

.postCont {
  width: 100%;
  background-color: rgb(226, 226, 226);
  padding: 1rem;
  transition: all 150ms ease-in-out;
  min-width: 100%;
}

.userPost:hover {
  transform: scale(1.05);
  background-color: rgb(180, 180, 180);
}

.btn {
  background-color: rgb(226, 226, 226);
  padding: 0.5rem 1rem;
  border: 2px solid rgb(163, 163, 163);
  transition: all 150ms ease-in-out;
  transform: translateY(-1rem);
}

.btn:hover {
  background-color: rgb(163, 163, 163);
  color: white;
  transform: scale(1.05);
}

.posts-show-actions {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.posts-show-btn {
  margin-top: 1.5rem;
  background-color: rgb(226, 226, 226);
  padding: 0.5rem 1rem;
  border: 2px solid rgb(163, 163, 163);
  transition: all 150ms ease-in-out;
  transform: translateY(-1rem);
}

.posts-show-btn:hover {
  filter: invert(1);
  transform: scale(1.05) translateY(-1rem);
  cursor: pointer;
}

.commentsCont {
  list-style: none;
  margin: 0.25rem 0;
  background-color: rgb(196, 196, 196);
  padding: 1rem;
}

.postCont:hover + .commentsCont:hover {
  transform: scale(1.05);
  background-color: rgb(180, 180, 180);
}

.postLink {
  transition: all 150ms ease-in-out;
}

.postLink:hover {
  transform: scale(1.05);
}

ul {
  list-style: none;
}
