.posts-index {
  padding: 3rem 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  justify-content: center;
}

.posts-index-card {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 85rem;
  height: 8rem;
  transition: all 150ms ease-in-out;
  gap: 2rem;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.posts-index-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  height: 53vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards 0.25s;
  padding-right: 0.5rem;
  width: 100%;
  max-width: 85rem;
  z-index: 1;
}

.posts-display-card {
  transition: all 150ms ease-in-out;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts-display-cont {
  background-color: rgb(226, 226, 226);
  padding: 1rem;
  transition: all 150ms ease-in-out;
  min-width: 100%;
  width: 100%;
}

.posts-helper-cont {
  background-color: rgb(182, 182, 182);
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
  max-width: 83rem;
  transition: all 150ms ease-in-out;
}

.posts-display-card:hover .posts-display-cont {
  transform: scale(0.98);
  background-color: rgb(180, 180, 180);
  filter: invert(1);
  z-index: 1;
}

.posts-display-card:hover .posts-helper-cont {
  transform: translateY(-1rem) scale(0.96);
  background-color: white;
  filter: invert(1);
  z-index: 0;
}

.posts-index-actions {
  display: flex;
  gap: 1rem;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards 0.5s;
}

.btn {
  background-color: rgb(226, 226, 226);
  padding: 0.5rem 1rem;
  border: 2px solid rgb(163, 163, 163);
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.btn:hover {
  filter: invert(1);
  transform: scale(1.05);
}

.commentsCont {
  list-style: none;
  margin: 0.25rem 0;
  background-color: rgb(196, 196, 196);
  padding: 1rem;
}

.postCont:hover + .commentsCont:hover {
  transform: scale(1.05);
  background-color: rgb(180, 180, 180);
}
