.posts-show {
  padding: 3rem 4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.posts-show-cont {
  width: 100%;
  max-width: 85rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts-card {
  padding: 1rem;
  background-color: rgb(226, 226, 226);
  text-align: left;
  width: 100%;
  max-width: 85rem;
  transition: all 150ms ease-in-out;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  z-index: 1;
}

.post-card-info {
  filter: invert(1);
  background-color: rgb(226, 226, 226);
  padding: 1rem;
}

.posts-card-text {
  padding: 1rem;
}

.photo {
  height: 9rem;
  border: 2px solid rgb(226, 226, 226);
}

.posts-helper-cont {
  width: 96%;
  max-width: 83rem;
  padding: 0.5rem;
  background-color: rgb(163, 163, 163);
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: all 150ms ease-in-out;
  opacity: 0;
  transform: translateY(-5rem);
  animation: fadeIn 0.5s ease-in-out 0.2s forwards, go_down 0.5s ease-in-out 0.2s forwards;
}

.posts-helper-comment {
  padding: 0.25rem;
  background-color: rgb(226, 226, 226);
}

.posts-show-actions {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  width: 96%;
  max-width: 83rem;
}

.posts-show-btn {
  margin-top: 1.5rem;
  background-color: rgb(226, 226, 226);
  padding: 0.5rem 1rem;
  border: 2px solid rgb(163, 163, 163);
  transition: all 150ms ease-in-out;
  transform: translateY(-1rem);
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 0.65s forwards;
}

.posts-show-btn:hover {
  filter: invert(1);
  transform: scale(1.05) translateY(-1rem);
  cursor: pointer;
}
