* {
  font-family: monospace;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.users-display {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  justify-content: center;
  width: 100%;
  max-width: 55rem;
  margin: 0 auto;
}

.user-display-card {
  width: 100%;
  max-width: 80rem;
}

.user-display-card:nth-child(1) {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 0.15s forwards;
}

.user-display-card:nth-child(2) {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 0.45s forwards;
}

.user-display-card:nth-child(3) {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 0.75s forwards;
}

.user-display-card:nth-child(4) {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 1s forwards;
}

.users-display-cont {
  display: flex;
  align-items: center;
  height: 8rem;
  transition: all 150ms ease-in-out;
  gap: 2rem;
}

.users-display-cont:hover {
  transform: scale(1.03);
}

.user-display-photo {
  height: 9rem;
  width: 9rem;
  border: 2px solid rgb(226, 226, 226);
}

.user-helper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: rgb(226, 226, 226);
  transition: all 150ms ease-in-out;
}

.users-display-cont:hover .user-helper {
  filter: invert(1);
}

.usersCont:hover .userInfo {
  background-color: rgb(226, 226, 226);
  background-color: rgb(180, 180, 180);
}

.linkCont {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-helper-name {
  width: 50%;
  font-weight: bold;
  color: black;
  align-self: center;
  text-align: center;
  text-decoration: none;
}

.user-helper-total-posts {
  width: 50%;
  text-align: center;
  align-self: flex-end;
  color: black;
}
